extends layout

block content
	.container.about
		h1 Photo credits
			h2 Atlas Home
			ul
				li
					strong Banner montage, left: 
					| Hunters maneuver a small boat through ice floes in the Beaufort Sea. 
					a(href='http://www.photolib.noaa.gov/bigs/theb0030.jpg') (NOAA Arctic Photo Gallery)
				li
					strong Banner montage, center: 
					| Stuck in the frozen sea ice over Christmas, the Baldwin-Ziegler North Pole
					| Expedition waits out the Arctic winter in 1901. 
					a(href='http://nsidc.org/cryosphere/arctic-meteorology/studying.html') (NSIDC/Library of Congress Prints)
				li
					strong Banner montage, right: 
					| NIMBUS-7 satellite. 
					a(href='https://directory.eoportal.org/web/eoportal/satellite-missions/t/toms') (NASA)
				li
					strong "Use this Atlas" block image: 
					| Sea ice can take on a variety of textures. When waves buffet the freezing ocean surface, characteristic "pancake" sea ice forms. 
					a(href='http://nsidc.org/cryosphere/quickfacts/seaice.html') (Ted Scambos/NSDIC)
			h2 About
			ul
				li
					em USS Bear 
					| off Point Barrow, Alaska, 1922. 
					a(href='http://vilda.alaska.edu/cdm/singleitem/collection/cdmg21/id/13462/rec/1') (Alaska Digital Archives)
			h2 Glossary
			ul
				li
					strong 1&ndash;2 tenths &ldquo;very open drift&rdquo;:  
					| Photo provided by ConocoPhillips 
				li
					strong 3&ndash;4 tenths &ldquo;open to very open drift&rdquo;: 
					| Photo provided by US Coast Guard Marine Safety Detachment, Kenai, AK
				li
					strong All other sea ice concentration photos and diagrams:&nbsp; 
					a(href='http://archive.orr.noaa.gov/book_shelf/695_seaice.pdf') NOAA Observer's Guide to Sea Ice 
		h1 Technology credits
		p 
			ul
				li
					a(href='http://backbonejs.org') Backbone:&nbsp;&nbsp;
					| Javascript framework for creating dynamic, interactive web applications 
				li
					a(href='http://getbootstrap.com') Bootstrap:&nbsp;&nbsp;
					| Design and layout framework for basic controls and page components 
				li
					a(href='http://d3js.org') D3:&nbsp;&nbsp;
					| Rich visualization framework for data-driven documents and applications 
				li
					a(href='http://www.highcharts.com') HighCharts:&nbsp;&nbsp;
					| Simple, effective interactive charts 
				li
					a(href='http://mapserver.org') MapServer:&nbsp;&nbsp;
					| Raster map tile and WMS server 
				li
					a(href='http://nodejs.org') Node.js:&nbsp;&nbsp;
					| Server to handle HTTP requests and connect the client application with the PostGIS database 
				li
					a(href='http://openlayers.org') OpenLayers:&nbsp;&nbsp;
					| Library for creating dynamic web apps 
				li
					a(href='http://postgis.net') PostGIS:&nbsp;&nbsp;
					| Dynamic raster querying and analysis for interactive charts and graphs 
				li
					a(href='http://tilecache.org') TileCache:&nbsp;&nbsp;
					| Tile caching and performance optimization for map tiles 
