extends layout

block content
	.container
		h1 Disclaimer
		p
		strong Indemnity and Disclaimer of All Warranties.&nbsp;
		| To the extent permissible under applicable laws, no responsibility is assumed and 
		| is hereby disclaimed by the University of Alaska Fairbanks for any injury and/or 
		| damage to persons or property as a result of any actual or alleged libelous statements, 
		| infringement of intellectual property or privacy rights, or products liability, 
		| including from any use or operation of any ideas, instructions, procedures, 
		| products or methods contained in the material therein. Access and use of the software 
		| is provided on an "as is" basis.
		em
		| No warranty or representation as to the accuracy, completeness or technical or 
		| scientific quality of any information or&nbsp;
		em suitability for the Recipient’s intended use is provided herein. 
		strong
			| WITHOUT RESTRICTING THE GENERALITY OF THE FOREGOING, THE PARTIES MAKE NO 
			| REPRESENTATION OR WARRANTY AS TO THE MERCHANTABILITY OR FITNESS FOR A PARTICULAR 
			| PURPOSE OF ANY COPYRIGHT LICENSED HEREUNDER.
		p &nbsp;
		p &nbsp;
		p &nbsp;
		p &nbsp;
		p &nbsp;
		p &nbsp;
		p &nbsp;
		p &nbsp;
		p &nbsp;
		p &nbsp;
		p &nbsp;
		p &nbsp;
		p &nbsp;
