extends layout

block content

	.container
		
		h1 Download data

		p
		| Space for download links ...
		p &nbsp;
		p &nbsp;
		p &nbsp;

		h1 Metadata

		p
		| Space for metadata ...
		p &nbsp;
		p &nbsp;
		p &nbsp;