extends layout

block content

	.jumbotron.banner
		.container
			h1 Historical Sea Ice Atlas
			p
				| Alaska sea ice, mid-1800s to the present
			div
				a.btn.btn-primary.btn-lg(href='/explore') Explore
	.row.boxes
		.container
			.col-md-4
				.thumbnail
					img(src="img/seaice.jpg",alt="sea ice")
					.caption
						h3 Use this Atlas
						p History, planning, and uncertainty
						p
							a(href="/about").btn.btn-primary About
			.col-md-4
				.thumbnail
					img(src="img/binarycode.jpg",alt="binary code")
					.caption
						h3 Download data
						p Use these data for your own analyses
						p
							a(href="/download").btn.btn-primary Download
			.col-md-4
				.thumbnail
					img(src="img/glossary_book.jpg",alt="book")
					.caption
						h3 Learn about sea ice
						p Common terms and phenomena explained
						p
							a(href="/glossary").btn.btn-primary Glossary
