	<h4 class="list-group-item-heading">Map</h4>
	<div class="list-group-item-text">
		<p>Choose a date, and <strong>click on the map to see additional charts</strong> for that location.</p>

		<label>Select by date</label>
		<div id="mapControls_ymd">
			<select name="month" class="month">
				<option value="01">January</option>
				<option value="02">February</option>
				<option value="03">March</option>
				<option value="04">April</option>
				<option value="05">May</option>
				<option value="06">June</option>
				<option value="07">July</option>
				<option value="08">August</option>
				<option value="09">September</option>
				<option value="10">October</option>
				<option value="11">November</option>
				<option value="12">December</option>
			</select>
			<select name="year" class="year"></select>
		</div>
	</div>
